/**
 * Variables & Mixins
 */
$border-color: #888;

@mixin vh-center() {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;

	@media ( min-width: 768px ) {
		max-width: 635px;
	}

}

.wp-bingo {

	&.layout-simple{
		margin: 0;
		padding:0;
	}

	&__header {
		border: solid $border-color;
		border-width: 0 2px 0 0;
		display: grid;
		grid-template-columns: repeat( 5, 20% );

		> div {
			border: solid $border-color;
			border-width: 2px 0 0 2px;
			min-height: 100px;
			padding: 10px;

			@include vh-center;
		}
	}

	&__wrapper {
		border: solid $border-color;
		border-width: 0 2px 2px 0;
		display: grid;
		grid-template-columns: repeat( 5, 20% );
	}

	&__item {
		background-color: #111;
		border: solid $border-color;
		border-width: 2px 0 0 2px;
		color: #fff;
		cursor: pointer;
		min-height: 100px;
		padding: 10px;

		@include vh-center;

		&:hover {
			background-color: $border-color;
		}

		&.active {
			background-color: #00f;
		}

	}

}

#confetti {
	left: 0;
	position: absolute;
	top: 0;
}
